.signupform-container{
   padding-top: 10px;
   width:550px;
   height: auto;
   border: 2px solid rgb(94, 93, 93);
   /* border-style:hidden; */
   border-radius: 15px;
   /* box-shadow: 0 0 0 6px rgba(94, 93, 93); */
   padding:10px;
   background-color: white;
}

.nav-container{

    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-top: 8px;
    padding-bottom: 13px

}

.nav-header{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    padding-left: 10px;
    font-weight: 500;
}
.error-message{
    color: #db0d64;
    margin-top: 2px;
    margin-bottom:1px;
    height: auto
}
.input-field-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 194, 194);
    /* margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px; */
    margin-top: 20px
}
.input-field input{
    border: 0 none;
    outline: none;
    width: 99%;
    height: 50px;
    font-size: 20px;  

}

.input-field{
    border-bottom: 2px solid rgb(197, 194, 194);
}

li{
    list-style-type: none;
}

.signup-button{
    margin-top: 10px;
    display:flex;
    flex-direction: center;
  
}

.signup-button button{
    font-size: 20px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    
    color: white;
    width: 97%;
    border: none;
    background: linear-gradient(45deg, rgb(234, 7, 124), rgba(244, 5, 45, 0.985));
    margin-top: 40px;
    height: 45px;
    margin-left: 10px;
    /* margin-right: 40px; */
    border-radius: 10px;
    cursor: pointer;
    
    
}
.signup-button button:hover{
    background: linear-gradient(45deg,  rgb(248, 112, 15), rgb(244, 27, 63));
}