.host-button{
    position:relative;
    right: 60px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    padding: 10px 15px;
    top: 10px;
    border-radius: 15px;
    border:none;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.host-button:hover{
    background-color: rgb(243, 242, 242);
}
.error-message-create-spot{
    margin-left: 8px;
    color: #db0d64;
    margin-top: 2px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    height: auto
}