.host-button{
    position:relative;
    right: 60px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
    padding: 10px 15px;
    top: 10px;
    border-radius: 15px;
    border:none;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.host-button:hover{
    background-color: rgb(243, 242, 242);
}
