.create-review-button{
    background-color: #db0d64;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor:pointer;
    margin-left: 10px
}


.create-review-form-container{
    width:350px;
    height: 350px;
    border-radius: 12px;
    background-color: white;
}

.review-form-container{
    margin-top: 20px
}