.delete-modal-container{
    background-color: white;
    border-radius: 10px;
    width: 280px;
    height: 200px;
    padding: 20px;
    z-index: 100
}

.delete-header{
    margin-bottom: 20px
}

.delete-messages{
    color: rgb(105, 105, 105);
    font-size: 15px;
    margin-bottom: 20px;
}

.cancel-delete-comment-and-booking{
    outline: none;
    border: none;
    background-color: #db0d64;
    color:white;
    border-radius: 12px;
    padding: 5px 10px;
  
}

.confirm-delete-comment-and-booking{
    outline: none;
    border: none;
    background-color: #db0d64;
    color:white;
    border-radius: 12px;
    padding: 5px 10px
}

.cancel-delete-comment-and-video:hover{
    background-color: rgb(222, 241, 255);
}

.confirm-delete-comment-and-video:hover{
    background-color: rgb(222, 241, 255);
}