.single-spot-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 24% 0 24%;
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.spot-name{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600
}

.star-rating-review-location{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 20px
}

.space{
    margin-left: 3px;
    margin-right: 3px;
}

.single-spot-review{
    margin-right: 5px;
}

.info-without-button{
    display: flex;
    flex-direction: row;
}

.delete-spot-button{
    background-color: #db0d64;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor:pointer;
    margin-right: 10px
}

.single-spot-img{
    margin: 4% 24% 10% 24%;
}
img{
    width: 100%;
    object-fit: cover;
}

.single-spot-info-container{
    display: flex;
    justify-content: space-between;

}
.spot-info-left{
    width: 75%
}

.single-spot-owner{
    font-size: 20px;
    padding-bottom: 10px
}

.single-spot-description{
    border-top: 1px solid rgb(223, 222, 222);
    padding-top: 5px;
}

.spot-info-right{
    display: flex;
    box-shadow: 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 15px;
    height: 150px;
    padding: 20px;
    width: 40%;
    cursor: pointer;
    justify-content: space-between;
}
.single-spot-price span{
    font-size: 20px;
    font-weight: 800
}
