.single-spot-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 24% 0 24%;
    font-family:Plus Jakarta Sans,Montserrat Alternates,Open Sans,Arimo,Roboto,sans-serif
}
.spot-name{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600
}

.star-rating-review-location{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 20px
}

.space{
    margin-left: 3px;
    margin-right: 3px;
}

.single-spot-review{
    margin-right: 5px;
}

.info-without-button{
    display: flex;
    flex-direction: row;
}

.delete-spot-button{
    background-color: #db0d64;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor:pointer;
    margin-right: 10px
}

/* .single-spot-img{
    margin: 4% 24% 10% 24%;
} */
img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 200ms;
    aspect-ratio: 2;
}

img:hover{
    filter: brightness(90%);
    transition-duration: 200ms;
   
}
.single-spot-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px

}
.spot-info-left{
    width: 60%;
    border-bottom: 1px solid rgb(223, 222, 222);
}

.single-spot-owner{
    font-size: 20px;
    padding-bottom: 10px
}

.single-spot-description{
    border-top: 1px solid rgb(223, 222, 222);
    padding-top: 5px;
    line-height: 1.5;
    padding-right: 5px
    
}



.star-reviews{
    display:flex;
    flex-direction: row;
}

.space{
    margin-left: 4px;
    margin-right: 4px
}

.review-container{
    margin-top: 50px
}

input:focus{
    border:1px solid black
}

textarea:focus{
    border:1px solid black
}
  
i{
    margin-right: 5px
}

.big-star-reviews{
    display:flex;
    flex-direction: row;
    font-size: 23px;
    font-weight:500
}

.review-outer-container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px
}
