.spot-info-right{
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    height: auto;
    padding: 30px;
    width: 30%;
    cursor: pointer;
    justify-content: space-between;
}

.single-spot-price span{
    font-size: 20px;
    font-weight: 800
}

.booking-form{
    width: 100%
}

.booking-dates-container{
    margin-top: 15px;
    height: 100px

}

.checkin-checkout-container{
    border: 1px solid #b0b0b0;
    border-radius: 7px;
    height: 55px;
    width: 100%;
    margin-bottom: 15px
}

.check-in-container{
    width: 50%;
    position:relative;
    border-right:1px solid #b0b0b0;
}

.check-in-inner-container{
    position:absolute;
    height: 80%;
    left: 10px;
    top: 5px

}
.check-in-label{
    font-size: 10px;
    font-weight:600;
    
}
.check-in-date{
    border: none;

}

.check-out-container{
    width: 50%;
    position:relative;
}

.check-out-inner-container{
    position: absolute;
    left: 10px;
    top: 5px
}

.reserve-button{
 border:none;
 height: 50px;
 color: white;
 font-weight: 600;
 border-radius: 7px;
 background: linear-gradient(45deg, rgb(234, 7, 124), rgba(244, 5, 45, 0.985));
}
