
.loginform-container{
   padding-top: 10px;
   width:550px;
   height: auto;
   border: 2px rgb(94, 93, 93);
   border-radius: 15px;
   /* box-shadow: 0 0 0 6px rgba(94, 93, 93); */
   padding:10px;
   background-color: white;
   
}
.nav-container{

    font-family: Plus Jakarta Sans,Montserrat Alternates,Open Sans,Arimo,Roboto,sans-serif; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
   
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-top: 8px;
    padding-bottom: 20px;
    height: 30px
}

.nav-header{
    margin-top:30px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: Plus Jakarta Sans,Montserrat Alternates,Open Sans,Arimo,Roboto,sans-serif; 
    padding-left: 10px;
    font-weight: 500;
    position:relative;
    top: 15px
   
}
.error-message{
    color: #db0d64;
    display:block;
    height: 2px;
    margin-bottom:1px
}
.input-field-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 194, 194);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: -1px -1px 1px 1px rgb(197, 194, 194);
    position:relative;
    bottom: 13px

}
.input-field input{
    border: 0 none;
    outline: none;
    width: 99%;
    height: 50px;
    font-size: 20px;
    
}

li{
    list-style-type: none;
}

.input-field.email{
    border-bottom: 2px solid rgb(197, 194, 194);
}
input:focus{
  border:2px solid black
}
.login-button button{
    width: 97%;
    border: none;
    background-color: #db0d64;
    margin-top: 40px;
    height: 45px;
    margin-left: 10px;
    margin-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px
}

.demo-button button{
    width: 97%;
    border: none;
    background-color: #db0d64;
    margin-top: 35px;
    height: 45px;
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px
}
/* .field-container{
 
    /* margin-top: 50px */

